.main-layout {
  display: flex;
  height: 100vh;
  background-color: #f5f5f5;
}

/* SIDEBAR */

.sidebar {
  width: 240px;
  background-color: #111;
  color: white;
  padding: 20px;
}

.sidebar .logo {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px;
  cursor: pointer;
}

/* CONTENIDO */

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */

.navbar {
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* CONTENIDO */

.content {
  padding: 30px;
  flex: 1;
}
