.barbershop-profile {
  max-width: 1100px;
  margin: auto;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branch {
  color: #64748b;
  margin-left: 5px;
}

.rating {
  margin-top: 5px;
}

.queue-box {
  background: #f1f5f9;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.live {
  color: #ef4444;
  font-size: 14px;
}

.profile-main {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.main-photo {
  width: 500px;
  border-radius: 12px;
}

.haircuts {
  flex: 1;
}

.haircut-list {
  display: flex;
  gap: 15px;
}

.haircut-card {
  background: #f8fafc;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.haircut-card img {
  width: 180px;
  border-radius: 10px;
}

.info-box {
  margin-top: 20px;
  background: #f8fafc;
  padding: 15px;
  border-radius: 10px;
}

.status {
  color: #22c55e;
}

.reviews {
  margin-top: 30px;
}

.review-card {
  display: flex;
  gap: 15px;
  background: #f8fafc;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  background: #cbd5f5;
  border-radius: 50%;
}
