:root {
  --primary-light: #89c7f8;
  --primary: #429ebd;
  --primary-dark: #053f5c;

  --accent-yellow: #f7ad19;
  --accent-orange: #f27f0c;

  --background-light: #f5f7fa;
  --white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.font-display {
  font-family: "Outfit", sans-serif;
}