.footer {
  margin-top: 0;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 50vw;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  margin-top: 20px;
}

.footer-section h3 {
  color: #333;
}

.footer-section p {
  color: #666;
  margin: 5px 0;
  font-size: 14px;
}

.footer-bottom p {
  display: flex;
  justify-content: space-between;
  color: #666;
  margin: 5px 0;
  font-size: 14px;
}

.footer-divider {
  border: none;
  border-top: 2px solid #ccc;
  margin: 7px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-copyright {
  color: #666;
  margin: 0;
  font-size: 13px;
}

.footer-links a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  color: #666;
  margin: 5px 0;
  font-size: 14px;
}
